* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;     
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content-input input {
    background-color: #abe7e7;
    border: 0;
    margin: 10px 5px;
    padding: 10px;
    border-radius: 8px;
    font-size: 20px;
}

.content-input {
    margin: 0 30px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #34c9c9;
    font-weight: bold;
    border: 0;
    width: 180px;
    height: 50px;
    border-radius: 10px;
}

.content {
    display: flex;
    flex-direction: row;

    margin-bottom: 30px;
    margin-top: 60px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}
